tools/EntitiesSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entity" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Property">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Attribute" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="displayName" type="xs:string" use="optional" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="required" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:boolean"/>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="idType" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>